DEBUG=True
DJANGO_SECRET_KEY='<django secret key>'

# Database
DATABASE_NAME=<database name>
DATABASE_USER=<database user>
DATABASE_PASSWORD=<database password>
DATABASE_HOST=<database host>
DATABASE_PORT=<database port>

EMAIL_HOST='localhost'
EMAIL_SENDER='TEST <support@tgx.com>'
EMAIL_HOST_PASSWORD=''
EMAIL_HOST_USER=''
EMAIL_PORT=1025
EMAIL_USE_TLS=False
