{% load static %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- bootstrap ver 4.2.1 for spinner -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
    </style>

    <title>{% block title %}TSG Systems{% endblock %}</title>
</head>

<body>
    <header>
      {% block navbar %}
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand" href="{% url 'web:home' %}">
              <img class="img-fluid" alt="TSG Systems" src="{% static 'images/logo/TSG3.png' %}">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="dropdown-menu mobile" id="navbarSupportedContent">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="{% url 'web:logout' %}">Logout</a>
            <hr />
            <label class="promo-code">Your promo code: {{ request.user.agent_promo_code }}</label>
          </div>

          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="nav navbar-top-links navbar-right">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ request.user }}
              </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Settings</a>
                  <a class="dropdown-item" href="{% url 'web:logout' %}">Logout</a>
                  <hr />
                  <label class="promo-code">Your promo code: {{ request.user.agent_promo_code }}</label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      {% endblock %}
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <script>
      // constants
      const RECORDS_PER_PAGE = 10;
    </script>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>

    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@3.0.2/dist/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>

    <!-- don't load the APIs on the login screen -->
    {% block api_load %}
    <script src="{% static 'js/tsg/bioconfirm.js' %}"></script>
    <script src="{% static 'js/tsg/insurance.js' %}"></script>
    <script src="{% static 'js/tsg/carrier.js' %}"></script>
    <script src="{% static 'js/tsg/dme.js' %}"></script>
    <script src="{% static 'js/tsg/pc_and_fb.js' %}"></script>
    <script src="{% static 'js/tsg/supplies.js' %}"></script>
    <script src="{% static 'js/tsg/search.js' %}"></script>
    {% endblock %}
</body>

</html>
