{% extends "admin/change_list.html" %}
{% load staticfiles %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script>
        var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };
        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                position: 'left'
            },
            title: {
                display: true
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };
        window.onload = function () {
            var ctx = document.getElementById("patient_status-chart");
            {% regroup cl.queryset|dictsort:"patient_status" by get_patient_status_display as patient_status_list %}
            var lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for patient_status in patient_status_list %}'{{ patient_status.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for patient_status in patient_status_list %}'{{ patient_status.list|length }}',{% endfor %}],
                        backgroundColor: [{% for patient_status in patient_status_list %}randomColorGenerator(),{% endfor %}]
                    }]
                },
                options: options
            });
            ctx = document.getElementById("primary_insurance_name-chart");
            {% regroup cl.queryset|dictsort:"primary_insurance_name" by primary_insurance_name as primary_insurance_name_list %}
            lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for primary_insurance_name in primary_insurance_name_list %}'{{ primary_insurance_name.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for primary_insurance_name in primary_insurance_name_list %}'{{ primary_insurance_name.list|length }}',{% endfor %}],
                        backgroundColor: [{% for primary_insurance_name in primary_insurance_name_list %}randomColorGenerator(),{% endfor %}]
                    }]
                }, options: options
            });
        }
    </script>
{% endblock %}
{% block content %}
    <hr>
    <div class="row">
        <div class="col-md-4">
            <canvas id="patient_status-chart" style="width: 100px !important;"></canvas>
        </div>
        <div class="col-sm-4">
            <canvas id="primary_insurance_name-chart" style="width: 100px !important;"></canvas>
        </div>
    </div>
    {{ block.super }}
{% endblock %}
