<div id="dme-app" v-cloak>
  <div class="col-md-12">
    <h5 class="title1">
      DME
    </h5>
    <div class="table-responsive">
      <table class="table table-hover table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col">Submission date</th>
            <th scope="col">Patient's first name</th>
            <th scope="col">Patient's last name</th>
            <th scope="col">Agent's promo code</th>
            <th scope="col">Insurance type</th>
            <th scope="col">Policy number(Medicare)</th>
            <th scope="col">PPO Information(If not straight from Medicare)(Member ID#)</th>
            <th scope="col">PPO Information(If not straight from Medicare)(PPO Name)</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="14" class="text-center" v-if="!dmes.length">No records for <strong>DME</strong> as of now.</td>
          </tr>
          <tr v-for="dme in dmes">
            <td>[[ dme.submission_date ]]</td>
            <td>[[ dme.patients_first_name ]]</td>
            <td>[[ dme.patients_last_name ]]</td>
            <td>[[ dme.agents_promod_code ]]</td>
            <td>[[ dme.insurance_type ]]</td>
            <td>[[ dme.policy_number ]]</td>
            <td>[[ dme.ppo_information_mem_id ]]</td>
            <td>[[ dme.ppo_information_ppo_name ]]</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewModalDme" v-on:click="viewDme(dme.id)">View</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- To do: view for DME -->
</div>
