<div id="search-app" v-cloak>
  <hr>
  <h5 class="title1">
    Search information: 
      <a class="btn btn-primary search-carrier" data-toggle="collapse" href="#CollapseSearchCarrier" role="button" aria-expanded="false"
        aria-controls="CollapseSearchCarrier">Carrier Search Information</a>
      <a class="btn btn-primary search-bio-confirm" data-toggle="collapse" href="#CollapseSearchBioConfirm" role="button"
          aria-expanded="false" aria-controls="CollapseSearchBioConfirm">Bio Confirm Master Search Information</a>
      <a class="btn btn-primary search-dme" data-toggle="collapse" href="#CollapseSearchDME" role="button"
            aria-expanded="false" aria-controls="CollapseSearchDME">DME Search Information</a>
      <a class="btn btn-primary search-insurance" data-toggle="collapse" href="#CollapseSearchInsurance" role="button"
            aria-expanded="false" aria-controls="CollapseSearchInsurance">Insurance Search Information</a>

  </h5>
  <!-- from and to date search for Carrier App -->
  <div class="collapse multi-collapse" id="CollapseSearchCarrier">
    <div class="card card-body">
      <div class="form-row">
        <div class=form-group col-md-2 col-sm-12>
          <h5 class="title1">
            Carrier Search Information
          </h5>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2 col-sm-12">
          <label>From date application recorded:</label>
          <input class="form-control form-control-sm" type="date" v-model="carrier_from_date_app_rec">
          <label>To date application recorded:</label>
          <input class="form-control form-control-sm" type="date" v-model="carrier_to_date_app_rec">
        </div>
        <div class="form-group col-md-2 col-sm-12 offset-1">
          <label>From date sample recorded:</label>
          <input class="form-control form-control-sm" type="date" v-model="carrier_from_date_sample_rec">
          <label>To date sample recorded:</label>
          <input class="form-control form-control-sm" type="date" v-model="carrier_to_date_sample_rec">
        </div>
        <div class="form-group col-md-2 col-sm-12 offset-1">
          <label>From date of QCA:</label>
          <input class="form-control form-control-sm" type="date" v-model="carrier_from_date_of_qca">
          <label>To date of QCA:</label>
          <input class="form-control form-control-sm" type="date" v-model="carrier_to_date_of_qca">
        </div>
        <div class="form-group col-md-2 col-sm-12 offset-1">
          <label>From date created:</label>
          <input class="form-control form-control-sm" type="date" v-model="carrier_from_date_created">
          <label>To date created:</label>
          <input class="form-control form-control-sm" type="date" v-model="carrier_to_date_created">
        </div>
        <div class="form-group col-md-2 col-sm-12">
          <label>Search Patient Name:</label>
          <input class="form-control form-control-sm" type="text" v-model="carrier_search_patient_name">
        </div>
      </div>
      <template v-if="loading == true">
        <button class="btn btn-primary btn-search" type="button" disabled style="float: right;">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Searching...
        </button>
      </template>
      <template v-else>
      <button class="btn btn-primary btn-search" type="button" v-on:click.prevent="getCarriers">Search</button>
      </template>
    </div>
  </div>

  <!-- from and to date search for Bio Confirm Master App -->
  <div class="collapse multi-collapse" id="CollapseSearchBioConfirm">
    <div class="card card-body">
      <div class="form-row">
        <div class=form-group col-md-2 col-sm-12>
          <h5 class="title1">
            Bio Confirm Master Search Information
          </h5>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2 col-sm-12">
          <label>From date application recorded:</label>
          <input class="form-control form-control-sm" type="date" v-model="bioconfirm_from_date_app_rec">
          <label>To date application recorded:</label>
          <input class="form-control form-control-sm" type="date" v-model="bioconfirm_to_date_app_rec">
        </div>
        <div class="form-group col-md-2 col-sm-12 offset-1">
          <label>From date sample recorded:</label>
          <input class="form-control form-control-sm" type="date" v-model="bioconfirm_from_date_sample_rec">
          <label>To date sample recorded:</label>
          <input class="form-control form-control-sm" type="date" v-model="bioconfirm_to_date_sample_rec">
        </div>
        <div class="form-group col-md-2 col-sm-12 offset-1">
          <label>From date of QCA:</label>
          <input class="form-control form-control-sm" type="date" v-model="bioconfirm_from_date_of_qca">
          <label>To date of QCA:</label>
          <input class="form-control form-control-sm" type="date" v-model="bioconfirm_to_date_of_qca">
        </div>
        <div class="form-group col-md-2 col-sm-12 offset-1">
          <label>From date created:</label>
          <input class="form-control form-control-sm" type="date" v-model="bioconfirm_from_date_created">
          <label>To date created:</label>
          <input class="form-control form-control-sm" type="date" v-model="bioconfirm_to_date_created">
        </div>
        <div class="form-group col-md-2 col-sm-12">
          <label>Search Patient Name:</label>
          <input class="form-control form-control-sm" type="text" v-model="bioconfirm_search_patient_name">
        </div>
      </div>
      <template v-if="loading == true">
        <button class="btn btn-primary btn-search" type="button" disabled style="float: right;">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Searching...
        </button>
      </template>
      <template v-else>
        <button class="btn btn-primary btn-search" type="button" v-on:click.prevent="getBioConfirms">Search</button>
      </template>
    </div>
  </div>

  <!-- from and to date search for DME App -->
  <div class="collapse multi-collapse" id="CollapseSearchDME">
    <div class="card card-body">
      <div class="form-row">
        <div class=form-group col-md-2 col-sm-12>
          <h5 class="title1">
            DME Search Information
          </h5>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2 col-sm-12">
          <label>Submission date from:</label>
          <input class="form-control form-control-sm" type="date" v-model="dme_form_submission_date">
        </div>
        <div class="form-group col-md-2 col-sm-12">
          <label>Submission date to:</label>
          <input class="form-control form-control-sm" type="date" v-model="dme_to_submission_date">
        </div>
        <div class="form-group col-md-2 col-sm-12">
          <label>Search Patient First Name:</label>
          <input class="form-control form-control-sm" type="text" v-model="dme_patients_first_name">
        </div>
        <div class="form-group col-md-2 col-sm-12">
          <label>Search Patient Last Name:</label>
          <input class="form-control form-control-sm" type="text" v-model="dme_patients_last_name">
        </div>
      </div>
      <template v-if="loading == true">
        <button class="btn btn-primary btn-search" type="button" disabled style="float: right;">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Searching...
        </button>
      </template>
      <template v-else>
        <button class="btn btn-primary btn-search" type="button" v-on:click.prevent="getDmes">Search</button>
      </template>
    </div>
  </div>

  <!-- from and to date search for Insurance App -->
  <div class="collapse multi-collapse" id="CollapseSearchInsurance">
    <div class="card card-body">
      <div class="form-row">
        <div class=form-group col-md-2 col-sm-12>
          <h5 class="title1">
            Insurance Search Information
          </h5>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2 col-sm-12">
          <label>Date created from:</label>
          <input class="form-control form-control-sm" type="date" v-model="insurance_from_date_created">
        </div>
        <div class="form-group col-md-2 col-sm-12">
          <label>Submission date to:</label>
          <input class="form-control form-control-sm" type="date" v-model="insurance_to_date_created">
        </div>
        <div class="form-group col-md-2 col-sm-12">
          <label>Search by Patient Name:</label>
          <input class="form-control form-control-sm" type="text" v-model="insurance_name">
        </div>
        <div class="form-group col-md-2 col-sm-12">
          <label>Search by Promo Code:</label>
          <input class="form-control form-control-sm" type="text" v-model="insurance_promo_code">
        </div>
      </div>
      <template v-if="loading == true">
        <button class="btn btn-primary btn-search" type="button" disabled style="float: right;">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Searching...
        </button>
      </template>
      <template v-else>
        <button class="btn btn-primary btn-search" type="button" v-on:click.prevent="getInsurances">Search</button>
      </template>
    </div>
  </div>


<hr>
  <div class="card" id="card-table">
    <div class="card-header">
      Bio Confirm Master
    </div>
    <div class="card-body">
      <h5 class="card-title title1">Table Informations</h5>
        <div class="table table-sm table-responsive-sm">
          <table class="table">
            <thead class="thead-light">
              <th scope="col">Patient name</th>
              <th scope="col">Promo code</th>
              <th scope="col">Agent name</th>
              <th scope="col">Date Submitted to telemed</th>
              <th scope="col">Date Telemed returned</th>
              <th scope="col">Date Application recorded</th>
              <th scope="col">Date Paid</th>
              <th scope="col">Insurance company name</th>
              <th scope="col">Rejection Date</th>
              <th scope="col">Date submitted to Tamika ins verifier</th>
            </thead>
            <tbody>
              <tr>
                <td colspan="14" class="text-center"
                v-if="!bioConfirms.length">Try searching for a data, if no records returned for <strong>Bio Confirm Master</strong> then most likely it does not exist in the database or it wasn't assigned to you.</td>
              </tr>
              <tr v-for="bioconfirm in bioConfirms" class="table-info">
                <td>[[ bioconfirm.patient_name ]]</td>
                <td>[[ bioconfirm.promo_code ]]</td>
                <td>[[ bioconfirm.agent ]]</td>
                <td>[[ bioconfirm.date_submitted_to_telemed ]]</td>
                <td>[[ bioconfirm.date_telemed_returned ]]</td>
                <td>[[ bioconfirm.date_app_rec ]]</td>
                <td>[[ bioconfirm.date_paid ]]</td>
                <td>[[ bioconfirm.insurance_company ]]</td>
                <td>[[ bioconfirm.rejection_date ]]</td>
                <td>[[ bioconfirm.submitted_to_tamika_ins_verifier ]]</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>

  <div class="card" id="card-table">
    <div class="card-header">
      Carrier
    </div>
    <div class="card-body">
      <h5 class="card-title title1">Table Informations</h5>
        <div class="table table-sm table-responsive-sm">
          <table class="table">
            <thead class="thead-light">
              <th scope="col">Patient name</th>
              <th scope="col">Promo code</th>
              <th scope="col">Agent name</th>
              <th scope="col">Date submitted to telemed</th>
              <th scope="col">Date telemed returned</th>
              <th scope="col">Date application recorded</th>
              <th scope="col">Date paid</th>
              <th scope="col">Insurance company name</th>
              <th scope="col">Rejection date</th>
              <th scope="col">Date Submitted to Tamika ins verifier</th>
            </thead>
            <tbody>
              <tr>
                <td colspan="14" class="text-center" v-if="!carriers.length">Try searching for a data, if no records returned for <strong>Carrier</strong> then most likely it does not exist in the database or it wasn't assigned to you.</td>
              </tr>
              <tr v-for="carrier in carriers" class="table-info">
                <td>[[ carrier.patient_name ]]</td>
                <td>[[ carrier.promo_code ]]</td>
                <td>[[ carrier.agent ]]</td>
                <td>[[ carrier.date_submitted_to_telemed ]]</td>
                <td>[[ carrier.date_telemed_returned ]]</td>
                <td>[[ carrier.date_app_rec ]]</td>
                <td>[[ carrier.date_sample_rec ]]</td>
                <td>[[ carrier.date_paid ]]</td>
                <td>[[ carrier.insurance_company ]]</td>
                <td>[[ carrier.rejection_date ]]</td>
                <td>[[ carrier.date_submitted_to_tamika_ins_verifier ]]</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>

  <div class="card" id="card-table">
    <div class="card-header">
      DME
    </div>
    <div class="card-body">
      <h5 class="card-title title1">Table Informations</h5>
        <div class="table table-sm table-responsive-sm">
          <table class="table">
            <thead class="thead-light">
              <th scope="col">Submission date</th>
              <th scope="col">Patient's first name</th>
              <th scope="col">Patient's last name</th>
              <th scope="col">Agent's promo code</th>
              <th scope="col">Insurance type</th>
              <th scope="col">Policy number(Medicare)</th>
              <th scope="col">PPO Information(If not straight from Medicare)(Member ID#)</th>
              <th scope="col">PPO Information(If not straight from Medicare)(PPO Name)</th>
            </thead>
            <tbody>
              <tr>
                <td colspan="14" class="text-center" v-if="!dmes.length">Try searching for a data, if no records returned for <strong>DME</strong> then most likely it does not exist in the database or it wasn't assigned to you.</td>
              </tr>
              <tr v-for="dme in dmes" class="table-info">
                <td>[[ dme.submission_date ]]</td>
                <td>[[ dme.patients_first_name ]]</td>
                <td>[[ dme.patients_last_name ]]</td>
                <td>[[ dme.agents_promod_code ]]</td>
                <td>[[ dme.insurance_type ]]</td>
                <td>[[ dme.policy_number ]]</td>
                <td>[[ dme.ppo_information_mem_id ]]</td>
                <td>[[ dme.ppo_information_ppo_name ]]</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>

  <div class="card" id="card-table">
    <div class="card-header">
      Insurance
    </div>
    <div class="card-body">
      <h5 class="card-title title1">Table Informations</h5>
        <div class="table table-sm table-responsive-sm">
          <table class="table">
            <thead class="thead-light">
              <th scope="col">Patient name</th>
              <th scope="col">Promo code</th>
              <th scope="col">Agent name</th>
              <th scope="col">Manager name</th>
              <th scope="col">State</th>
              <th scope="col">Type of Insurance</th>
              <th scope="col">Test</th>
              <th scope="col">Active/Inactive</th>
              <th scope="col">Status</th>
              <th scope="col">Insurance Status</th>
              <th scope="col">Policy number</th>
              <th scope="col">Verfication date</th>
              <th scope="col">Deductible remainding</th>
              <th scope="col">Notes</th>
            </thead>
            <tbody>
              <tr>
                <td colspan="14" class="text-center" v-if="!insurances.length">Try searching for a data, if no records returned for <strong>Insurance</strong> then most likely it does not exist in the database or it wasn't assigned to you.</td>
              </tr>
              <tr v-for="insurance in insurances" class="table-info">
                <td>[[ insurance.name ]]</td>
                <td>[[ insurance.promo_code ]]</td>
                <td>[[ insurance.agent ]]</td>
                <td>[[ insurance.manager ]]</td>
                <td>[[ insurance.state ]]</td>
                <td>[[ insurance.type_of_insurance ]]</td>
                <td>[[ insurance.test ]]</td>
                <td>[[ insurance.active_inactive ]]</td>
                <td>[[ insurance.status ]]</td>
                <td>[[ insurance.insurance_status ]]</td>
                <td>[[ insurance.policy_number ]]</td>
                <td>[[ insurance.verification_date ]]</td>
                <td>[[ insurance.deductible_remainding ]]</td>
                <td>[[ insurance.notes ]]</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
