<div id="insurance-app">
  <form v-on:submit.prevent="addInsurance" enctype="multipart/form-data">
    <!-- form row -->
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">Patient Name</label>
        <input type="text" class="form-control form-control-sm" id="inputPatientName" v-model="newInsurance.name" placeholder="Patient Name">
      </div>
      <div class="form-group col-md-2">
        <label for="inputEmail4">Promo Code</label>
        <input type="text" class="form-control form-control-sm" id="inputPromo" v-model="newInsurance.promo_code" placeholder="Promo Code">
      </div>
      <div class="form-group col-md-2">
        <label>Agent Name</label>
        <select id="inputAgent" class="form-control form-control-sm" v-model="newInsurance.agent">
          <option v-for="agent in agentNames">[[agent.name]]</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>Manager Name</label>
        <select id="inputTest" class="form-control form-control-sm" v-model="newInsurance.manager">
          <option v-for="manager in managerNames">[[manager.name]]</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>Type of Insurance</label>
        <select id="inputTest" class="form-control form-control-sm" v-model="newInsurance.type_of_insurance">
          <option v-for="insuranceType in typeOfInsurance">[[ insuranceType.name ]]</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="input">State</label>
        <input type="text" class="form-control form-control-sm" id="inputState" v-model="newInsurance.state" placeholder="State">
      </div>
      <div class="form-group col-md-2">
        <label for="inputState">Status</label>
        <input type="text" class="form-control form-control-sm" v-model="newInsurance.status" placeholder="Status of the Insurance">
      </div>
      <div class="form-group col-md-2">
        <label for="inputState">Test</label>
        <input type="text" class="form-control form-control-sm" v-model="newInsurance.test" placeholder="Test">
      </div>
      <div class="form-group col-md-2">
        <label for="inputState">Active/Inactive</label>
        <input type="text" class="form-control form-control-sm" v-model="newInsurance.active_inactive" placeholder="Active/Inactive of the Insurance">
      </div>
      <div class="form-group col-md-2">
        <label for="inputState">Insurance Status</label>
        <input type="text" class="form-control form-control-sm" v-model="newInsurance.insurance_status" placeholder="Status of the Insurance">
      </div>
      <div class="form-group col-md-2">
        <label>Policy Number</label>
        <input type="text" class="form-control form-control-sm" v-model="newInsurance.policy_number" placeholder="Policy Number">
      </div>
      <div class="form-group col-md-2">
        <label>Deductible remainding</label>
        <input type="text" class="form-control form-control-sm" v-model="newInsurance.deductible_remainding" placeholder="Deductible remainding">
      </div>
      <div class="form-group col-md-2">
        <label for="inputEmail4">Date of birth</label>
        <input type="date" class="form-control form-control-sm" id="inputDate" v-model="newInsurance.date_of_birth">
      </div>
      <div class="form-group col-md-2">
        <label for="inputEmail4">Verification Date</label>
        <input type="date" class="form-control form-control-sm" id="inputDate" v-model="newInsurance.verification_date">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <label>Notes</label>
        <textarea class="form-control" name="name" rows="10" cols="80" v-model="newInsurance.notes"></textarea>
      </div>
    </div>
    <!-- end form-row -->
    <div class="card card-info">
      <div class="card-header" id="card-informations">
        Attachments
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-md-2">
            <label>Patient ID Photo</label>
            <input type="file" accept="image/*" class="form-control form-control-file form-control-sm" name="patient_id_photo" id="inputIDPhoto" refs="patient_id_photo" v-on:change="onFileChange($event)">
          </div>
          <div class="form-group col-md-2">
            <label>Insurance card photo front</label>
            <input type="file" accept="image/*" class="form-control form-control-file form-control-sm" name="insurance_card_photo_front" id="inputInsuranceFront" refs="insurance_card_photo_front" v-on:change="onFileChange($event)">
          </div>
          <div class="form-group col-md-2">
            <label>Insurance card photo back</label>
            <input type="file" accept="image/*" class="form-control form-control-file form-control-sm" name="insurance_card_photo_back" id="inputInsuranceFront" refs="insurance_card_photo_back" v-on:change="onFileChange($event)">
          </div>
          <div class="form-group col-md-2">
            <label>Additional Insurance card</label>
            <input type="file" accept="image/*" class="form-control form-control-file form-control-sm" name="additional_insurance_cards" id="inputInsuranceAdditional" refs="additional_insurance_cards" v-on:change="onFileChange($event)">
          </div>
          <div class="form-group col-md-2">
            <label>Consent Recording</label>
            <input type="file" accept="image/*" class="form-control form-control-file form-control-sm" name="consent_recording" id="inputRecording" refs="consent_recording" v-on:change="onFileChange($event)">
          </div>
        </div>
      </div>
    </div>
    <!-- end of attachments -->
    <button type="submit" class="btn btn-success" style="float: right;">Save</button>
  </form>
</div>
<!-- end of insurance app -->
