<div id="insurance-app">
  <div class="col-md-12">
    <div class="card" id="card-table">
      <div class="card-header">
        Insurance
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Patient name</th>
                <th scope="col">Promo code</th>
                <th scope="col">Agent name</th>
                <th scope="col">Manager name</th>
                <th scope="col">State</th>
                <th scope="col">Type of Insurance</th>
                <th scope="col">Test</th>
                <th scope="col">Active/Inactive</th>
                <th scope="col">Status</th>
                <th scope="col">Insurance Status</th>
                <th scope="col">Policy number</th>
                <th scope="col">Verification date</th>
                <th scope="col">Deductible remainding</th>
                <th scope="col">Notes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="14" class="text-center bg-warning" v-if="!insurances.length">No records for insurance as of now.</td>
              </tr>
              <tr v-for="insurance in insurances">
                <td>[[ insurance.name ]]</td>
                <td>[[ insurance.promo_code ]]</td>
                <td>[[ insurance.agent ]]</td>
                <td>[[ insurance.manager ]]</td>
                <td>[[ insurance.state ]]</td>
                <td>[[ insurance.type_of_insurance ]]</td>
                <td>[[ insurance.test ]]</td>
                <td>[[ insurance.active_inactive ]]</td>
                <td>[[ insurance.status ]]</td>
                <td>[[ insurance.insurance_status ]]</td>
                <td>[[ insurance.policy_number ]]</td>
                <td>[[ insurance.verification_date ]]</td>
                <td>[[ insurance.deductible_remainding ]]</td>
                <td>[[ insurance.notes ]]</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
