<form autocomplete=po>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>Date application recorded</label>
      <input type="date" class="form-control form-control-sm" id="inputDate">
    </div>
    <div class="form-group col-md-2">
      <label>Date sample recorded</label>
      <input type="date" class="form-control form-control-sm" id="inputDate">
    </div>
    <div class="form-group col-md-2">
      <label>Date of QCA</label>
      <input type="date" class="form-control form-control-sm" id="inputDate">
    </div>
    <div class="form-group col-md-2">
      <label>Date submitted to telemed</label>
      <input type="date" class="form-control form-control-sm" id="inputDate">
    </div>
    <div class="form-group col-md-2">
      <label>Date telemed returned</label>
      <input type="date" class="form-control form-control-sm" id="inputDate">
    </div>
    <div class="form-group col-md-2">
      <label>Date bioconfirm recorded application</label>
      <input type="date" class="form-control form-control-sm" id="inputDate">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>Date paid</label>
      <input type="date" class="form-control form-control-sm" id="inputDate">
    </div>
    <div class="form-group col-md-2">
      <label>Month</label>
      <input type="text" class="form-control form-control-sm" placeholder="Month">
    </div>
    <div class="form-group col-md-2">
      <label>Rejection Date</label>
      <input type="date" class="form-control form-control-sm" id="inputDate">
    </div>
  </div>
  <button type="submit" class="btn btn-success" style="float: right;">Save</button>
</form>
