{% load templatetagname %}
<div id="bioconfirm-app" v-cloak>
  <!-- patient info -->
  <form v-on:submit.prevent="addBioConfirm" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div>
      <h5 class="title1">
        Patient Informations
      </h5>
      <div>
        <div class="form-row">
          <div class="form-group col-md-8 col-sm-12">
            <label for="inputPatientName">Patient Name</label>
            <input type="text" class="form-control form-control-sm" id="inputPatientName" v-model="newBioConfirm.patient_name" :disabled="loading == true">
          </div>
          <div class="form-group col-md-4 col-sm-12">
            <label for="inputPatientPhone">Patient Phone Number</label>
            <input type="text" class="form-control form-control-sm" id="inputPatientPhone" v-model="newBioConfirm.patient_phone_number" :disabled="loading == true">
          </div>
        </div>
        <div class="form-row">
          {% if request.user|has_group:"GPG and TSG" %}
          <div class="form-group col-md-3 col-sm-12">
            <label>Date submitted to Tamika ins verifier</label>
            <input type="date" class="form-control form-control-sm" id="inputDate1" v-model="newBioConfirm.submitted_to_tamika_ins_verifier"
              :disabled="loading == true">
          </div>
          <div class="form-group col-md-2  col-sm-12">
            <label for="inputStatus">Status</label>
            <select id="inputStatus" class="form-control form-control-sm" v-model="newBioConfirm.status" :disabled="loading == true">
              <option>CGX/CGD</option>
              <option>DUPLICATE</option>
              <option>HOLD</option>
              <option>DUPLICATE</option>
              <option>MISSING INFORMATION</option>
              <option>REJECTED</option>
              <option>WRONG APPLICATION</option>
              <option>Resubmit from Elite</option>
              <option>RESIGNED</option>
              <option>REJECTED HMO</option>
              <option>REJECTED NO ID</option>
              <option>REJECTED INELIGIBLE</option>
              <option>REJECTED INACTIVE</option>
              <option>REJECTED - Higd ded 6880.37</option>
              <option>REJECTED - CARESOURCE</option>
            </select>
          </div>
          <div class="form-group col-md-3 col-sm-12">
            <label>Test Choices</label>
            <select id="inputTest" class="form-control form-control-sm" v-model="newBioConfirm.type_of_test" :disabled="loading == true">
              <option>CARRIER</option>
              <option>CGX</option>
              <option>CGX/CARRIER</option>
              <option>L</option>
            </select>
          </div>
          <div class="form-group col-md-4 col-sm-12">
            <label for="inputTelemed">Telemed Name</label>
            <input type="text" class="form-control form-control-sm" id="inputTelemed" v-model="newBioConfirm.telemed_name"
              :disabled="loading == true">
          </div>
          {% endif %}
          <div class="form-group col-md-2 col-sm-12">
            <label for="inputEmail4">Promo Code</label>
            <input type="text" class="form-control form-control-sm" id="inputPromo" v-model="newBioConfirm.promo_code" :disabled="loading == true">
          </div>
          <div class="form-group col-md-2 col-md-offset-2 col-sm-12">
            <label for="input">State</label>
            <input type="text" class="form-control form-control-sm" id="inputState" v-model="newBioConfirm.state" :disabled="loading == true">
          </div>
          <div class="form-group col-md-4 col-sm-12">
            <label>Agent Name</label>
            <select id="inputAgent" class="form-control form-control-sm" v-model="newBioConfirm.agent" :disabled="loading == true"
              required>
              <option v-for="agent in agentNames" selected="selected">[[ agent.name ]]</option>
            </select>
          </div>
          <div class="form-group col-md-4 col-sm-12">
            <label for="inputInsurance">Insurance Company Name</label>
            <input type="text" class="form-control form-control-sm" id="inputInsurance" v-model="newBioConfirm.insurance_company"
              :disabled="loading == true">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Notes</label>
            <textarea class="form-control form-control-sm" name="name" v-model="newBioConfirm.notes" :disabled="loading == true" rows="10" cols="80"></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- end patient info -->
    <hr />
    <!-- patient date info -->
    <div>
      <h5 class="title1">
        Patient's Date Informations
      </h5>
      <div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label>Date application recorded</label>
            <input type="date" class="form-control form-control-sm" v-model="newBioConfirm.date_app_rec" id="inputDateAppRec" value="" :disabled="loading == true">
          </div>
          {% if request.user|has_group:"GPG - TSG" %}
          <div class="form-group col-md-3">
            <label>Date sample recorded</label>
            <input type="date" class="form-control form-control-sm" v-model="newBioConfirm.date_sample_rec" id="inputDate" :disabled="loading == true">
          </div>
          <div class="form-group col-md-3 offset-1">
            <label>Date of QCA</label>
            <input type="date" class="form-control form-control-sm" v-model="newBioConfirm.date_of_qca" id="inputDate" :disabled="loading == true">
          </div>
          {% endif %}
        </div>
        {% if request.user|has_group:"GPG - TSG" %}
        <div class="form-row">
          <div class="form-group col-md-3">
            <label>Date submitted to telemed</label>
            <input type="date" class="form-control form-control-sm" v-model="newBioConfirm.date_submitted_to_telemed" id="inputDate" :disabled="loading == true">
          </div>
          <div class="form-group col-md-3">
            <label>Date telemed returned</label>
            <input type="date" class="form-control form-control-sm" v-model="newBioConfirm.date_telemed_returned" id="inputDate" :disabled="loading == true">
          </div>
          <div class="form-group col-md-3 offset-1">
            <label>Date bioconfirm recorded application</label>
            <input type="date" class="form-control form-control-sm" v-model="newBioConfirm.date_bioconfim_rec_app" id="inputDate" :disabled="loading == true">
          </div>
        </div>
        {% endif %}
        {% if request.user|has_group:"GPG - TSG" %}
        <div class="form-row">
          <div class="form-group col-md-3">
            <label>Date paid</label>
            <input type="date" class="form-control form-control-sm" v-model="newBioConfirm.date_paid" id="inputDate" :disabled="loading == true">
          </div>
          <div class="form-group col-md-3">
            <label>Month</label>
            <input type="text" class="form-control form-control-sm" v-model="newBioConfirm.month" :disabled="loading == true">
          </div>
          <div class="form-group col-md-3 offset-1">
            <label>Rejection Date</label>
            <input type="date" class="form-control form-control-sm" v-model="newBioConfirm.rejection_date" id="inputDate" :disabled="loading == true">
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <!-- end patient date info -->
    <hr />
    <div>
      <h5 class="title1">
        Attachments
      </h5>
      <div>
        <div class="row">
          <div class="form-group col-sm-12">
            <label>Patient ID Photo</label>
            <div class="custom-file" v-on:click="$refs.patient_id_photo_ref.click()" :disabled="loading == true">
              <input
                  type="file" accept="image/*" class="form-control form-control-file form-control-sm"
                  name="patient_id_photo" id="inputIDPhoto"
                  v-on:change="onFileChange($event)"
                  ref="patient_id_photo_ref"
              >
              <label class="custom-file-label" for="customFile">
                <template v-if="!newBioConfirm.patient_id_photo.name">
                  Choose file
                </template>
                <template v-else>
                  [[ newBioConfirm.patient_id_photo.name ]]
                </template>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12 col-md-6">
            <label>Insurance card photo</label>
            <div class="custom-file" v-on:click="$refs.insurance_card_photo_front_ref.click()" :dsiabled="loading == true">
              <input
                  type="file" accept="image/*" class="form-control form-control-file form-control-sm"
                  name="insurance_card_photo_front" id="inputInsuranceFront"
                  v-on:change="onFileChange($event)"
                  ref="insurance_card_photo_front_ref"
              >
              <label class="custom-file-label" for="customFile">
                <template v-if="!newBioConfirm.insurance_card_photo_front.name">
                  Choose file
                </template>
                <template v-else>
                  [[ newBioConfirm.insurance_card_photo_front.name ]]
                </template>
              </label>
            </div>
            <small class="text-muted">Insurance card photo front</small>
          </div>
          <div class="form-group col-sm-12 col-md-6">
            <label>&nbsp;</label>
            <div class="custom-file" v-on:click="$refs.insurance_card_photo_back_ref.click()" :disabled="loading == true">
              <input
                  type="file" accept="image/*" class="form-control form-control-file form-control-sm"
                  name="insurance_card_photo_back" id="inputInsuranceFront"
                  v-on:change="onFileChange($event)"
                  ref="insurance_card_photo_back_ref"
              >
              <label class="custom-file-label" for="customFile">
                <template v-if="!newBioConfirm.insurance_card_photo_back.name">
                  Choose file
                </template>
                <template v-else>
                  [[ newBioConfirm.insurance_card_photo_back.name ]]
                </template>
              </label>
            </div>
            <small class="text-muted">Insurance card photo back</small>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12">
            <label>Additional Insurance card</label>
            <div class="custom-file" v-on:click="$refs.additional_insurance_cards_ref.click()">
              <input
                  type="file" accept="image/*" class="form-control form-control-file form-control-sm"
                  name="additional_insurance_cards" id="inputInsuranceAdditional"
                  v-on:change="onFileChange($event)"
                  ref="additional_insurance_cards_ref"
              >
              <label class="custom-file-label" for="customFile" :disabled="loading == true">
                <template v-if="!newBioConfirm.additional_insurance_cards.name">
                  Choose file
                </template>
                <template v-else>
                  [[ newBioConfirm.additional_insurance_cards.name ]]
                </template>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-12">
            <label>Consent Recording</label>
            <div class="custom-file" v-on:click="$refs.consent_recording_ref.click()" :disabled="loading == true">
              <input
                  type="file" accept="video/*" class="form-control form-control-file form-control-sm"
                  name="consent_recording" id="inputRecording"
                  v-on:change="onFileChange($event)"
                  ref="consent_recording_ref"
              >
              <label class="custom-file-label" for="customFile" >
                <template v-if="!newBioConfirm.consent_recording.name">
                  Choose file
                </template>
                <template v-else>
                  [[ newBioConfirm.consent_recording.name ]]
                </template>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of attachments -->
    <template v-if="loading == true">
      <button class="btn btn-success save-btn-insurance" type="button" disabled style="float: right;">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Saving...
      </button>
    </template>
    <template v-else-if="loading == false">
      <button type="submit" class="btn btn-success save-btn-insurance" style="float: right;">Save</button>
    </template>

    <!-- here lies saving the user and the promo code these info will be hidden -->
    <!-- <label class="promo-code" v-model="newBioConfirm.created_by">{{ request.user }}</label>
    <label class="promo-code" v-model="newBioConfirm.user_promo_code">{{ request.user.agent_promo_code }}</label> -->
  </form>
</div>
