html, body {
  height: 100%;
}

main {
  height: calc(100% - 64px);
}

body {
  background-color: #f9f9f9;
}

nav {
  height: 64px;
  background-color: #f0f0f0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

nav .container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

nav .navbar-brand img {
  height: 64px;
}

nav .navbar-top-links .dropdown .dropdown-menu {
  left: unset !important;
  right: 0;
}

#card-table {
  margin-top: 30px;
}

#card-carrier {
  margin-top: 30px !important;
}

#card-dme {
  margin-top: 30px;
}

#collapseBio {
  margin: 25px 25px !important;
}

#collapseCarrier {
  margin: 25px 25px !important;
}

#collapseDME {
  margin: 25px 25px !important;
}

#collapseInsurance {
  margin: 25px 25px !important;
}

.card-info {
  margin-top: 15px;
}

.nav-tabs-container {
  padding: 50px 20px 0;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs-container .nav.nav-tabs {
  border-bottom: 0 !important;
}

.nav.nav-tabs .nav-item:not(.add-btn) .nav-link {
  color: #757575 !important;
}

.nav.nav-tabs .nav-item:not(.add-btn) .nav-link.active {
  font-weight: bold;
  position: relative;
}

.nav.nav-tabs .nav-item:not(.add-btn) .nav-link.active::after {
  content: '';
  height: 10px;
  background-color: white;
  position: absolute;
  bottom: -5px;
  right: 0;
}

.tab-pane {
  padding: 40px 0;
}

.title1 {
  margin-bottom: 15px;
}

.tsg-tabs {
  background-color: white;
  height: 100%;
}

.add-btn a {
  background-color: #007bff;
  color: white !important;
}


/** Bootstrap customizations **/
@media (min-width: 1300px) {
  .container {
    max-width: 1290px;
  }
}