{% extends 'base/base.html' %}

{% block title %}
Add data | TSG System
{% endblock %}

{% block content %}
<div class="container">
  <div>
    <a class="btn btn-outline-primary" href="{% url 'web:home' %}" style="margin-top: 20px;">&laquo; Back to Overview</a>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div id="accordion">
        <div class="card" id="card-table">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseBio" aria-expanded="true" aria-controls="collapseBio">
                Bio Confirm Master
              </button>
            </h5>
          </div>
          <!-- collapse card -->
          <div id="collapseBio" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <!-- patient info -->
            {% include 'cgx/add_patient_bioconfirm.html' %}
            <!-- end patient info -->
          </div>
          <!-- end collapse card -->
        </div>
        <div class="card" id="card-table">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseCarrier" aria-expanded="false" aria-controls="collapseCarrier">
                Carrier
              </button>
            </h5>
          </div>
          <div id="carrier-app">
              <div id="collapseCarrier" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                {% include 'carrier/add_patient_carrier.html' %}
              </div>
          </div>
        </div>
        <div class="card" id="card-table">
          <!-- card header -->
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseDME" aria-expanded="false" aria-controls="collapseDME">
                DME
              </button>
            </h5>
          </div>
          <!-- end card header -->
          <div id="collapseDME" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            {% include 'dme/add_patient_dme.html' %}
          </div>
        </div>
        <div class="card" id="card-table">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseInsurance" aria-expanded="false" aria-controls="collapseInsurance">
                Insurance
              </button>
            </h5>
          </div>
          <div id="collapseInsurance" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <!-- insurance info -->
            {% include 'insurance/add_info_insurance.html' %}
            <!-- end insurance info -->
          </div>
        </div>
        <div class="card" id="card-table">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsePainCreamAndFootBath" aria-expanded="false" aria-controls="collapsePainCreamAndFootBath">
                Pain Cream and Foot Bath
              </button>
            </h5>
          </div>
          <div id="collapsePainCreamAndFootBath" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <!-- insurance info -->
            {% include 'paincreamandfootbath/add_patient_pc_and_fb.html' %}
            <!-- end insurance info -->
          </div>
        </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
