{% extends 'base/base.html' %}

{% block title %}
Add data | TSG System
{% endblock %}

{% block content %}
<div class="col-md-12">
  <div class="card" id="card-table">
    <div class="card-header">
      Bio Confirm Master
    </div>
    <div class="card-body">
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="card" id="card-table">
    <div class="card-header">
      Carrier
    </div>
    <div class="card-body">
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="card" id="card-table">
    <div class="card-header">
      DME
    </div>
    <div class="card-body">
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="card" id="card-table">
    <div class="card-header">
      Insurance
    </div>
    <div class="card-body">
    </div>
  </div>
</div>
{% endblock %}
