{% extends 'base/base.html' %}

{% load static %}

{% block title %}
Home | TSG Systems
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TSG System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Carrier</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bio Confirm Master</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">DME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Insurance</a>
      </li>
    </ul>
    <ul class="nav navbar-top-links navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ request.user }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'web:logout' %}">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
