{% extends 'base/base.html' %}

{% load static %}
{% load staticfiles %}

{% block title %}
Home | TSG Systems
{% endblock %}

{% block content %}
<div class="tsg-tabs">
  <div class="nav-tabs-container">
    <div class="container">
      <div class="card-group">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card mb-3">
            <a href="{% url 'cgx:bioconfirm' %}" class="card-header">Bio Confirm Master</a>
            <div class="card-body">
              <p class="card-text">View all <strong>Bio Confirm Master</strong> data that are assigned
                to you.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card mb-3">
            <a href="{% url 'carrier:view-carrier' %}" class="card-header">Carrier</a>
            <div class="card-body">
              <p class="card-text">View all <strong>Carrier</strong> data that are assigned
                to you.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card mb-3">
            <a href="{% url 'cgx:bioconfirm' %}" class="card-header">DME</a>
            <div class="card-body">
              <p class="card-text">View all <strong>DME</strong> data that are assigned
                to you.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card mb-3">
            <a href="{% url 'pcfb:view-pcandfb' %}" class="card-header">Rx</a>
            <div class="card-body">
              <p class="card-text">View all <strong>Rx</strong> data that are assigned
                to you.
              </p>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}
