body {
  background-color: #f9f9f9;
}

nav {
  height: 64px;
  background-color: #f0f0f0;
}

nav .navbar-brand img {
  height: 64px;
}

nav .navbar-top-links .dropdown .dropdown-menu {
  left: unset !important;
  right: 0;
}

#card-table {
  margin-top: 30px;
}

#card-carrier {
  margin-top: 30px !important;
}

#card-dme {
  margin-top: 30px;
}

#collapseBio {
  margin: 25px 25px !important;
}

#collapseCarrier {
  margin: 25px 25px !important;
}

#collapseDME {
  margin: 25px 25px !important;
}

#collapseInsurance {
  margin: 25px 25px !important;
}

.card-info {
  margin-top: 15px;
}

.nav.nav-tabs {
  padding: 0 20px;
  background-color: #f9f9f9;
}

.nav.nav-tabs .nav-item:not(.add-btn) .nav-link {
  color: #495057 !important;
}

.nav.nav-tabs .nav-item:not(.add-btn) .nav-link.active {
  color: #000000 !important;
  font-weight: bold;
}

.tsg-tabs {
  margin: 50px 0;
  background-color: white;
}

.add-btn a {
  background-color: #007bff;
  color: white !important;
}
