html, body {
  height: 100%;
}

main {
  height: calc(100% - 64px);
}

body {
  background-color: #f9f9f9;
}

nav.navbar {
  height: 64px;
  background-color: #f0f0f0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

nav.navbar .container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

nav.navbar .navbar-brand img {
  height: 64px;
}

nav.navbar .navbar-top-links .dropdown .dropdown-menu {
  left: unset !important;
  right: 0;
}

[v-cloak]: {
  display: none;
}

[v-cloak] {
  display: none;
}

#card-table {
  border-radius: 0px;
  margin: 30px 0px 30px 0px;
}

#card-carrier {
  margin-top: 30px !important;
}

#card-dme {
  margin-top: 30px;
}

#collapseBio {
  margin: 25px 25px !important;
}

#collapseCarrier {
  margin: 25px 25px !important;
}

#collapseDME {
  margin: 25px 25px !important;
}

#collapseInsurance {
  margin: 25px 25px !important;
}

#collapsePainCreamAndFootBath {
  margin: 25px 25px !important;
}


#myTabContent {
  margin: 0px 40px 0px 40px;
}

.card-info {
  margin-top: 15px;
}

.nav.nav-tabs {
  padding: 0 20px;
  background-color: #f9f9f9;
}

.nav.nav-tabs .nav-item:not(.add-btn) .nav-link {
  color: #495057 !important;
}

.nav.nav-tabs .nav-item:not(.add-btn) .nav-link.active {
  color: #000000 !important;
  font-weight: bold;
}

.tsg-tabs {
  margin: 50px 0;
  background-color: white;
}

.nav-tabs-container {
  padding: 50px 20px 0;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs-container .nav.nav-tabs {
  border-bottom: 0 !important;
}

.nav.nav-tabs .nav-item {
  margin-right: 5px;
}

.nav.nav-tabs .nav-item:not(.add-btn, .supply-btn) .nav-link {
  color: #757575 !important;
}

.nav.nav-tabs .nav-item:not(.add-btn, .supply-btn) .nav-link.active {
  font-weight: bold;
  position: relative;
}

.nav.nav-tabs .nav-item:not(.add-btn, .supply-btn) .nav-link.active::after {
  content: '';
  height: 10px;
  background-color: white;
  position: absolute;
  bottom: -5px;
  right: 0;
}

.tab-pane {
  padding: 40px 0;
}

.title1 {
  margin-bottom: 15px;
}

.tsg-tabs {
  background-color: white;
  height: 100%;
  font-size: 14px;
}

.card-header {
  padding: 5px 5px 5px 5px;
}

.add-btn a {
  background-color: #007bff;
  color: white !important;
}

.supply-btn a {
  background-color: #04cc64;
  color: white !important;
}

.save-btn {
  border-radius: 0 !important;
  padding: 10px 40px 10px 40px;
}

.save-btn-carrier {
  border-radius: 0 !important;
  padding: 10px 40px 10px 40px;
  margin-bottom: 25px !important;
}

.save-btn-dme {
  border-radius: 0 !important;
  padding: 10px 40px 10px 40px !important;
  margin-top: 25px !important;
}

.save-btn-insurance {
  border-radius: 0 !important;
  padding: 10px 40px 10px 40px !important;
  margin-top: 25px !important;
}

label {
  font-size: 14px;
  color: #777777;
}

.promo-code {
  margin: 0px 10px 0px 10px;
}

.custom-loader {
  color: #777777;
}


/** Bootstrap customizations **/
@media (min-width: 1300px) {
  .container {
    max-width: 1290px;
  }
}
