<div id="carrier-app">
  <div class="col-md-12">
    <div class="card" id="card-table">
      <div class="card-header">
        Carrier
      </div>
      <div class="card-body">
        <!-- loading -->
        <div class="d-flex justify-content-center loading" v-if="loading===true">
          <div class="spinner-border" role="status">
            <strong>Fetching data...</strong>
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <!-- end loading -->
        <div class="table-responsive">
          <table class="table table-bordered table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">Patient name</th>
                <th scope="col">Promo code</th>
                <th scope="col">Agent name</th>
                <th scope="col">Date submitted to telemed</th>
                <th scope="col">Date telemed returned</th>
                <th scope="col">Date application recorded</th>
                <th scope="col">Date sample recorded</th>
                <th scope="col">Date paid</th>
                <th scope="col">Insurance company name</th>
                <th scope="col">Rejection date</th>
                <th scope="col">Date Submitted to Tamika ins verifier</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="14" class="text-center" v-if="!carriers.length">No records for <strong>Carrier</strong> as of now.</td>
              </tr>
              <tr v-for="carrier in carriers">
                <td>[[ carrier.patient_name ]]</td>
                <td>[[ carrier.promo_code ]]</td>
                <td>[[ carrier.agent ]]</td>
                <td>[[ carrier.date_submitted_to_telemed ]]</td>
                <td>[[ carrier.date_telemed_returned ]]</td>
                <td>[[ carrier.date_app_rec ]]</td>
                <td>[[ carrier.date_sample_rec ]]</td>
                <td>[[ carrier.date_paid ]]</td>
                <td>[[ carrier.insurance_company ]]</td>
                <td>[[ carrier.rejection_date ]]</td>
                <td>[[ carrier.submitted_to_tamika_ins_verifier ]]</td>
                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewModalCarrier" v-on:click="viewCarrier(carrier.id)">View</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- data view using modal -->
  <div class="modal fade" id="viewModalCarrier" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Information on patient</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- loading -->
        <div class="d-flex justify-content-center loading" v-if="loading===true">
          <div class="spinner-border" role="status">
            <strong>Fetching data...</strong>
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <!-- end loading -->
        <div class="row">
          <div class="col-md-4">
            <label>Patient name</label>
            <input type="text" class="form-control form-control-sm" v-model="currentCarrier.patient_name" disabled>
          </div>
          <div class="col-md-4">
            <label>Promo code</label>
            <input type="text" class="form-control form-control-sm" v-model="currentCarrier.promo_code" disabled>
          </div>
          <div class="col-md-4">
            <label>Agent</label>
            <input type="text" class="form-control form-control-sm" v-model="currentCarrier.agent" disabled>
          </div>
          <div class="col-md-4">
            <label>Date application recorded</label>
            <input type="text" class="form-control form-control-sm" v-model="currentCarrier.date_app_rec" disabled>
          </div>
          <div class="col-md-4">
            <label>Date sample recorded</label>
            <input type="text" class="form-control form-control-sm" v-model="currentCarrier.date_sample_rec" disabled>
          </div>
          <div class="col-md-4">
            <label>Test choice</label>
            <input type="text" class="form-control form-control-sm" v-model="currentCarrier.type_of_test" disabled>
          </div>
          <div class="col-md-4">
            <label>Date of QCA</label>
            <input type="text" class="form-control form-control-sm" v-model="currentCarrier.date_of_qca" disabled>
          </div>
          <div class="col-md-4">
            <label>Submitted to Tamika ins verifier</label>
            <input type="text" class="form-control form-control-sm" v-model="currentCarrier.submitted_to_tamika_ins_verifier" disabled>
          </div>
          <div class="col-md-4">
            <label>Telemed name</label>
            <input type="text" class="form-control form-control-sm" v-model="currentCarrier.telemed_name" disabled>
          </div>
          <div class="col-md-4">
            <label>Date submitted to Telemed</label>
            <input type="text" class="form-control form-control-sm" v-model="currentCarrier.date_submitted_to_telemed" disabled>
          </div>
          <div class="col-md-4">
            <label>Date Telemed returned</label>
            <input type="text" class="form-control form-control-sm" v-model="currentCarrier.date_submitted_to_telemed" disabled>
          </div>
          <div class="col-md-4">
            <label>Date bioconfirm recorded application</label>
            <input type="text" class="form-control form-control-sm" v-model="currentCarrier.date_bioconfim_rec_app" disabled>
          </div>
          <div class="col-md-4">
            <label>Date paid</label>
            <input type="text" class="form-control form-control-sm" v-model="currentCarrier.date_paid" disabled>
          </div>
          <div class="col-md-4">
            <label>State</label>
            <input type="text" class="form-control form-control-sm" v-model="currentCarrier.state" disabled>
          </div>
          <div class="col-md-4">
            <label>Status</label>
            <input type="text" class="form-control form-control-sm" v-model="currentCarrier.status" disabled>
          </div>
          <div class="col-md-4">
            <label>month</label>
            <input type="text" class="form-control form-control-sm" v-model="currentCarrier.month" disabled>
          </div>
          <div class="col-md-4">
            <label>Insurance Company</label>
            <input type="text" class="form-control form-control-sm" v-model="currentCarrier.insurance_company" disabled>
          </div>
          <div class="col-md-4">
            <label>Rejection Date</label>
            <input type="text" class="form-control form-control-sm" v-model="currentCarrier.rejection_date" disabled>
          </div>
          <div class="col-md-12">
            <label>Notes</label>
            <textarea class="form-control form-control-sm" name="name" v-model="currentCarrier.notes" rows="10" cols="80" disabled></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- end of view -->
</div>
