{% extends 'base/base.html' %}
{% load static %}
{% block title %}
Carrier | TSG System
{% endblock %}

{% block content %}
<div class="tsg-tabs">
  <div class="nav-tabs-container">
    <div id="carrier-app" v-cloak>
      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'web:home' %}">Home</a></li>
            <li class="breadcrumb-item">View Data on Carrier</a></li>
          </ol>
        </nav>
        <h5 class="title1 text-center">
          Carrier
        </h5>
        <!-- advanced filter -->
        <div class="collapse multi-collapse" id="CollapseSearchCarrier">
          <div class="card card-body">
            <div class="form-row">
              <div class=form-group col-md-2 col-sm-12>
                <h5 class="title1">
                  Carrier Search Information
                </h5>
              </div>
            </div>
            <form method="GET">
              <div class="form-row">
                <div class="form-group col-md-2 col-sm-12">
                  <label>From date application recorded:</label>
                  <input class="form-control form-control-sm" type="date" v-model="carrier_from_date_app_rec"
                    name="carrier_from_date_app_rec">
                  <label>To date application recorded:</label>
                  <input class="form-control form-control-sm" type="date" v-model="carrier_to_date_app_rec"
                    name="carrier_to_date_app_rec">
                </div>
                <div class="form-group col-md-2 col-sm-12">
                  <label>From date sample recorded:</label>
                  <input class="form-control form-control-sm" type="date" v-model="carrier_from_date_sample_rec">
                  <label>To date sample recorded:</label>
                  <input class="form-control form-control-sm" type="date" v-model="carrier_to_date_sample_rec">
                </div>
                <div class="form-group col-md-2 col-sm-12">
                  <label>From date of QCA:</label>
                  <input class="form-control form-control-sm" type="date" v-model="carrier_from_date_of_qca">
                  <label>To date of QCA:</label>
                  <input class="form-control form-control-sm" type="date" v-model="carrier_to_date_of_qca">
                </div>
                <div class="form-group col-md-2 col-sm-12">
                  <label>From date created:</label>
                  <input class="form-control form-control-sm" type="date" v-model="carrier_from_date_created">
                  <label>To date created:</label>
                  <input class="form-control form-control-sm" type="date" v-model="carrier_to_date_created">
                </div>
                <div class="form-group col-md-2 col-sm-12">
                  <label>Search Patient Name:</label>
                  <input class="form-control form-control-sm" type="text" v-model="carrier_search_patient_name">
                </div>
              </div>
            </form>
            <template v-if="searching == true">
            <div class="col-md-4 col-sm-12 float-right">
              <button class="btn btn-primary btn-search" type="button" disabled style="float: right;">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Searching...
              </button>
            </div>
            </template>
            <template v-else>
              <div class="col-md-4 col-sm-12 float-right">
                <button class="btn btn-primary btn-search" type="button" v-on:click.prevent="searchCarriers">Search</button>
              </div>
            </template>
          </div>
        </div>
        <!-- loading -->
        <div class="custom-loader" v-if="loading">
          <div class="col-md-12 col-sm-12">
            <div class="d-flex flex-column align-items-center">
              <div class="spinner-border" role="status"></div>
              <br />
              <strong>Fetching data...</strong>
            </div>
          </div>
        </div>
        <!-- end loading -->
        <a href="#CollapseSearchCarrier" class="btn btn-primary fa fa-filter pull-right filter" data-toggle="collapse"
          role="button" aria-expanded="false" aria-controls="CollapseSearchCarrier" v-if="!loading"></a>
        <a href="#" class="btn btn-success fa fa-print pull-right filter" v-on:click.prevent="generatePDF"></a>
        <a href="#" class="btn btn-success fa fa-file-excel-o pull-right filter" v-on:click.prevent="generateExcelFile"></a>
        <div class="table-responsive table-carrier" v-if="!loading">
          <table class="table table-hover table-bordered table-sm">

            <thead class="thead-light">
              <tr>
                <th scope="col">Patient name</th>
                <th scope="col">Promo code</th>
                <th scope="col">Agent name</th>
                <th scope="col">Date submitted to telemed</th>
                <th scope="col">Date telemed returned</th>
                <th scope="col">Date application recorded</th>
                <th scope="col">Date sample recorded</th>
                <th scope="col">Date paid</th>
                <th scope="col">Insurance company name</th>
                <th scope="col">Rejection date</th>
                <th scope="col">Date Submitted to Tamika ins verifier</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="14" class="text-center" v-if="!carriers.length">No records for <strong>Carrier</strong> as
                  of now.</td>
              </tr>
              <tr v-for="(carrier, i) in paginatedRecords">
                <td>[[ carrier.patient_name ]]</td>
                <td>[[ carrier.promo_code ]]</td>
                <td>[[ carrier.agent ]]</td>
                <td>[[ carrier.date_submitted_to_telemed ]]</td>
                <td>[[ carrier.date_telemed_returned ]]</td>
                <td>[[ carrier.date_app_rec ]]</td>
                <td>[[ carrier.date_sample_rec ]]</td>
                <td>[[ carrier.date_paid ]]</td>
                <td>[[ carrier.insurance_company ]]</td>
                <td>[[ carrier.rejection_date ]]</td>
                <td>[[ carrier.submitted_to_tamika_ins_verifier ]]</td>
                <td class="flex-justify">
                  <div class="btn-group-vertical">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#viewModalCarrier"
                      v-on:click="viewCarrier(carrier.id)">
                      <i class="fa fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-success" v-on:click="generatePDF(carrier.id, i)">
                      <i v-if="buttonsLoading[i]" class="fa fa-spinner fa-spin"></i>
                      <i v-else class="fa fa-print filter"></i>
                    </button>
                    <!-- <a href="#" class="btn btn-success fa fa-print pull-right filter" v-on:click.prevent="generatePDF(carrier.id, i)"></a> -->
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <nav class="pagination-wrapper" v-if="endPage > 1">
          <ul class="pagination justify-content-end">
            <li v-bind:class="[{disabled: currentPage === 1}, 'page-item']">
              <a class="page-link" tabindex="-1" v-on:click="goToPage(currentPage - 1)">
                Previous
              </a>
            </li>
            <li v-for="pageNumber in pages" v-bind:class="[{active: pageNumber === currentPage}, 'page-item']">
              <a class="page-link" v-on:click="goToPage(pageNumber)">
                [[ pageNumber ]]
              </a>
            </li>
            <li v-bind:class="[{disabled: (currentPage * 1) === totalPages}, 'page-item']">
              <a class="page-link" v-on:click="goToPage(currentPage + 1)">
                Next
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- data view using modal -->
      <div class="modal fade" id="viewModalCarrier" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Carrier Information on [[currentCarrier.patient_name]]</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- loading -->
              <div class="custom-loader" v-if="loading_view">
                <div class="col-md-12 col-sm-12">
                  <div class="d-flex flex-column align-items-center">
                    <div class="spinner-border" role="status"></div>
                    <br />
                    <strong>Fetching data...</strong>
                  </div>
                </div>
              </div>
              <!-- end loading -->
              <h5 class="title1">
                Patient Informations
              </h5>
              <div>
                <div class="form-row" v-if="!loading_view">
                  <div class="form-group col-md-4 col-sm-12">
                    <label>Patient name</label>
                    <input type="text" class="form-control form-control-sm" v-model="currentCarrier.patient_name"
                      disabled>
                  </div>
                  <div class="form-group col-md-4 col-sm-12">
                    <label>Patient phone number</label>
                    <input type="text" class="form-control form-control-sm"
                      v-model="currentCarrier.patient_phone_number" disabled>
                  </div>
                  <div class="form-group col-md-4 col-sm-12">
                    <label>Submitted to Tamika ins verifier</label>
                    <input type="text" class="form-control form-control-sm"
                      v-model="currentCarrier.submitted_to_tamika_ins_verifier" disabled>
                  </div>
                  <div class="form-group col-md-4 col-sm-12">
                    <label>Promo code</label>
                    <input type="text" class="form-control form-control-sm" v-model="currentCarrier.promo_code"
                      disabled>
                  </div>
                  <div class="form-group col-md-4 col-sm-12">
                    <label>Status</label>
                    <input type="text" class="form-control form-control-sm" v-model="currentCarrier.status" disabled>
                  </div>
                  <div class="form-group col-md-4 col-sm-12">
                    <label>State</label>
                    <input type="text" class="form-control form-control-sm" v-model="currentCarrier.state" disabled>
                  </div>
                  <div class="form-group col-md-4 col-sm-12">
                    <label>Test choice</label>
                    <input type="text" class="form-control form-control-sm" v-model="currentCarrier.type_of_test"
                      disabled>
                  </div>
                  <div class="form-group col-md-4 col-sm-12">
                    <label>Agent</label>
                    <input type="text" class="form-control form-control-sm" v-model="currentCarrier.agent" disabled>
                  </div>
                  <div class="form-group col-md-4 col-sm-12">
                    <label>Telemed name</label>
                    <input type="text" class="form-control form-control-sm" v-model="currentCarrier.telemed_name"
                      disabled>
                  </div>
                  <div class="form-group col-md-4 col-sm-12">
                    <label>Insurance Company</label>
                    <input type="text" class="form-control form-control-sm" v-model="currentCarrier.insurance_company"
                      disabled>
                  </div>
                  <div class="form-group col-md-12">
                    <label>Notes</label>
                    <textarea class="form-control form-control-sm" name="name" v-model="currentCarrier.notes" rows="10"
                      cols="80" disabled></textarea>
                  </div>
                </div>
                <hr />
                <div>
                  <h5 class="title1">
                    Patient Date Informations
                  </h5>
                  <div class="form-row" v-if="!loading_view">
                    <div class="form-group col-md-4 col-sm-12">
                      <label>Date application recorded</label>
                      <input type="text" class="form-control form-control-sm" v-model="currentCarrier.date_app_rec"
                        disabled>
                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                      <label>Date sample recorded</label>
                      <input type="text" class="form-control form-control-sm" v-model="currentCarrier.date_sample_rec"
                        disabled>
                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                      <label>Date of QCA</label>
                      <input type="text" class="form-control form-control-sm" v-model="currentCarrier.date_of_qca"
                        disabled>
                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                      <label>Date submitted to Telemed</label>
                      <input type="text" class="form-control form-control-sm"
                        v-model="currentCarrier.date_submitted_to_telemed" disabled>
                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                      <label>Date Telemed returned</label>
                      <input type="text" class="form-control form-control-sm"
                        v-model="currentCarrier.date_submitted_to_telemed" disabled>
                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                      <label>Date bioconfirm recorded application</label>
                      <input type="text" class="form-control form-control-sm"
                        v-model="currentCarrier.date_bioconfim_rec_app" disabled>
                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                      <label>Date paid</label>
                      <input type="text" class="form-control form-control-sm" v-model="currentCarrier.date_paid"
                        disabled>
                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                      <label>month</label>
                      <input type="text" class="form-control form-control-sm" v-model="currentCarrier.month" disabled>
                    </div>
                    <div class="form-group col-md-4 col-sm-12">
                      <label>Rejection Date</label>
                      <input type="text" class="form-control form-control-sm" v-model="currentCarrier.rejection_date"
                        disabled>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end of view -->
    </div>
  </div>
</div>

{% endblock %}
